<nav class="site-nav" aria-label="Main navigation">
  <ul class="site-nav__list">
    @if (!isLoggedIn()) {
      <li class="site-nav__item">
        <a class="site-nav__link" mat-button [routerLink]="['/login']">{{ 'nav.login' | translate }}</a>
      </li>
      <li class="site-nav__item">
        <a class="site-nav__btn btn-primary" mat-flat-button [routerLink]="['/register']">
          {{ 'nav.register' | translate }}
        </a>
      </li>
    } @else {
      <li class="site-nav__item">
        <a class="site-nav__link" mat-button [routerLink]="['/profile']">
          <mat-icon>favorite_border</mat-icon>
          {{ 'nav.favorites' | translate }}
        </a>
      </li>
      <li class="site-nav__item">
        <button class="site-nav__logout" mat-button (click)="logOut()">
          <mat-icon>logout</mat-icon>
          {{ 'nav.logout' | translate }}
        </button>
      </li>
    }
  </ul>
</nav>
