@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.car-list__card {
  @include mat.card-overrides((
    title-text-font: 'Lato',
    title-text-size: 22px,
    title-text-weight: 700,
    subtitle-text-color: #90A3BF,
    subtitle-text-font: 'Lato',
    subtitle-text-size: 14px,
    subtitle-text-weight: 700,
    outlined-container-color: transparent,
    outlined-outline-color: transparent,
  ));
}

.card-list {
  @apply flex-wrap gap-[70px] px-[27px];

  &__card {
    @apply lg:max-w-[350px];
  }

  &__more {
    @apply bg-[#787878] text-white px-5 py-2.5 font-bold !text-base min-h-[44px];

    ::ng-deep {
      .mdc-button__label {
        @apply px-5;
      }
    }
  }
}
