::ng-deep {
  .mat-mdc-form-field {
    @apply md:!min-w-96 min-w-full;

    border-color: rgba(195, 212, 233, 0.4);
  }

  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 70px;
  }

  .mat-mdc-form-field-infix {
    --mat-form-field-container-vertical-padding: 10px;
    --mat-form-field-container-height: 44px;
  }
}

.search-results {
  position: absolute;
  background: white;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #f4f4f4;
      }

      .car-image {
        max-width: 80px;
        height: auto;
        border-radius: 5px;
      }
    }
  }
}
