/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --button-color: #3563E9;
  --container-width: 1664px;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: var(--container-width);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #596780;
}
